{/include file="header.html"/}
	<body>
		 <!--[if lt IE 9]>对不起，浏览器版本太低~！<![endif]-->
		<div class="container">
			<div class="row video">
				<img src="{/$newsshow.img1/}"/>
			</div>
			
			
			<div class="row drill">
				<div class="col-xs-12 drill-name">
					<div class="col-xs-12">
						<div class="drill-summary">
							<img src="{/$newsshow.img/}"/>
							<div>
								<span>{/$newsshow.xingming/}</span>
								{/if $newsshow.avg==0/}
								<div>
									<span>暂无学员打分</span>
								</div>
								{/else/}
								<div class="coach-star coach-star-{/$newsshow.avg/}">
									<i class="iconfont icon-xing"></i>
									<i class="iconfont icon-xing"></i>
									<i class="iconfont icon-xing"></i>
									<i class="iconfont icon-xing"></i>
									<i class="iconfont icon-xing"></i>
								</div>
								{//if/}
							</div>
						</div>
						
						<div class="drill-subject">
							{/$newsshow.drive_type/}/科目{/$newsshow.kemu/}
						</div>
					</div>
				</div>
				
				<div class="col-xs-12 drill-mark">
					<div class="col-xs-4">
						<h1>{/$newsshow.ljpxrs/}</h1>
						<p>累计培训人数</p>
					</div>
					<div class="col-xs-4">
						<h1>{/$newsshow.ketgl/}%</h1>
						<p>科目二通过率</p>
					</div>
					<div class="col-xs-4">
						<h1>{/$newsshow.kstgl/}%</h1>
						<p>科目三通过率</p>
					</div>
				</div>				
			</div>
			
			<div class="row authentication">
				<div class="col-xs-4">
					<i class="iconfont icon-zhengpinrenzheng"></i>
					<p>平台保证</p>
				</div>
				<div class="col-xs-4">
					<i class="iconfont icon-jinpaihuiyuan"></i>
					<p>金牌教练</p>
				</div>
				<div class="col-xs-4">
					<i class="iconfont icon-jiaxiao"></i>
					<p>公司直营</p>
				</div>
			</div>
			
			<div class="row site">
				<h1 class="col-xs-12">场地地址</h1>
				<div class="col-xs-12">
					<h2>{/$newsshow.sscd_name/}</h2>
					<p>{/$cd.cd_address/}</p>
				</div>
			</div>
			
			<div class="row assess">
				<h1 class="col-xs-12">学员评价</h1>
				<div class="col-xs-12 assess-nav">
					{/if empty($comment)/}
					<div class="col-xs-12" style="text-align: center;">
						暂无评论
					</div>
					{/else/}
					{/foreach from=$comment item=item/}
					<div class="col-xs-12">
						<h2>匿名评论</h2>
						<span>{/date("Y-m-d H:i",$item.inputtime)/}</span>
						<p class="col-xs-12">{/$item.content/}</p>
					</div>
					{//foreach/}
					{//if/}
				</div>
			</div>
			
			<div class="kong row"></div>
			
			<div class="row enroll">
				<a href="tel:400-689-8909">
				<div class="col-xs-4 enroll-call">
					<p>咨询热线</p>	             
					<p>400-689-8909</p>
				</div>
				</a>
				<!--
                	作者：offline
                	时间：2017-08-25
                	描述：科三教练确认选择  不进入报名页面
                -->
                {/if $wx_user.k2_status == 2/}
				<a onclick="is_choose()" class="col-xs-8 enroll-btn">确认选择</a>
				{/else/}
				<!--
                	作者：offline
                	时间：2017-08-25
                	描述：科二教练 报名 付款
                -->
				<a onclick="is_choose1()" class="col-xs-8 enroll-btn">我要报名</a>
				{//if/}
			</div>
		</div>	
		
	</body>
</html>
<script>
	function is_choose(){
		var kemu = {/$sign.kemu/};
		if(kemu == 3){
			alert("你已选过科三教练");
		} else if(kemu == {/$newsshow.kemu/}){
			alert("科目二已过，请选择科三教练");
		} else {
			if(confirm("确认选择该教练？")){
				alert("选择成功");
				window.location.href = "/index.php?do=coach_confirm&coach={/$newsshow.id/}";
				return true;
			} else {
				return false;
			}
		}
	}
	function is_choose1(){
		var kemu = {/$sign.kemu/};
		if(kemu == 2){
			alert("你已报名，无需再报名");
		} else {
				window.location.href = "/index.php?do=enlist&coach={/$newsshow.id/}";
		}
	}
</script>
