{/include file="header.html"/}
	<body>
		 <!--[if lt IE 9]>对不起，浏览器版本太低~！<![endif]-->
		<div class="container">
			<!--<div class="row video">
				<img src="/template/wap/public/css/self/image/demo_1.jpg"/>
			</div>-->
			
			<div class="row assess">
				<h1 class="col-xs-12">科三教练</h1>
				<div class="col-xs-12 assess-nav">
					<div class="col-xs-12">
						<span style="float: left; font-size: initial;">{/$newsshow.xingming/}</span>
						<span style="float: right;font-size: initial;">{/$newsshow.coach_phone/}</span>
					</div>
				</div>
			</div>
			
			<div class="row site">
				<h1 class="col-xs-12">场地地址</h1>
				<div class="col-xs-12">
					<h2>{/$newsshow.sscd_name/}</h2>
					<p>{/$address_arr.result.formatted_address/}</p>
				</div>
			</div>
			
			<div class="kong row"></div>
			
	</body>
</html>
