{/include file="header.html"/}
	<body>
		<!--[if lt IE 9]>对不起，浏览器版本太低~！<![endif]-->
		<div class="container">
			<div class="row mold">
				<h1 class="col-xs-12">班别选择</h1>
				<div class="col-xs-12">
					{/foreach from=$course item=item/}
					<div class="col-xs-12">
						<label for="{/$item.id/}">
							<div>
							<input type="radio" name="class" value="{/$item.id/}" id="{/$item.id/}" />{/$item.name/}

						<span class="right">
							{/$item.zd_price/}
						</span>
						</div>
						</label>
						
					</div>
					{//foreach/}
				</div>				
			</div>
			
			<div class="kong row"></div>
			
			<div class="row enroll">
				<a href="tel:400-689-8909">
				<div class="col-xs-4 enroll-call">
					<p>咨询热线{/$course.coach/}</p>	             
					<p>400-689-8909</p>
				</div>
				</a>
				<a class="col-xs-8 enroll-btn" href="javascript:void(0);" id="next">下一步</a>
			</div>
			
		</div>
		
	</body>
	<script>
			 $(function(){
				  $(":radio").click(function(){
				   		var id = $(this).val();
				   		var href = "/index.php?do=enlist_details&coach={/$coach/}&id="+id;
				   		$("#next").attr("href",href);
				  });
				  
				  $("#next").click(function(){
				  		if($('input:radio[name="class"]:checked').val()==null){
				  			alert("请选择一个班级");
				  		}
				  });
				  
			 });
	</script>
</html>
