<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no" />
        <title>易点学车</title>
        <meta name="description" content="Yan" />
        <meta name="keywords" content="Yan" />
        <meta name="author" content="Yan" />
        <script src="/template/wap/public/js/libs/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/client/public/js/self/custom1.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DBd897f58d7a63e585485e3dea011253"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
        
        <link rel="stylesheet" type="text/css" href="/template/wap/public/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/template/wap/public/css/default.css">
		<link rel="stylesheet" href="/template/wap/public/css/main.css">
		<link rel="stylesheet" href="/template/wap/public/css/examples.css">
		<!-- Themes -->
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-1to10.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-movie.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-square.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-pill.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-reversed.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bars-horizontal.css">
	
		<link rel="stylesheet" href="/template/wap/public/dist/themes/fontawesome-stars.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/css-stars.css">
		<link rel="stylesheet" href="/template/wap/public/dist/themes/bootstrap-stars.css">
			
			
        <link rel="stylesheet" type="text/css" href="/template/wap/public/css/self/reset.css" />
        <link rel="stylesheet" type="text/css" href="/template/wap/public/css/libs/swiper-3.4.1.min.css" />
        <link rel="stylesheet" type="text/css" href="/template/wap/public/css/self/custom.css" />
        <link rel="stylesheet" type="text/css" href="/template/wap/css/iconfont.css"/>
    </head>
