{/include file="header.html"/}
	<body>
		<!--[if lt IE 9]>对不起，浏览器版本太低~！<![endif]-->
		<div class="container">
				<div class="row data">
					<div class="col-xs-12">
						<div>
							<label for="">
								<input type="text" name="data[uname]" id="uname"  value="{/$name/}" placeholder="请输入姓名" />
							</label>
						</div>
						<div>
							<label for="">
								<input type="text" name="data[phone]" id="phone"  value="{/$phone/}" placeholder="请输入手机号" />
							</label>
						</div>
						<div>
							<label for="">
								<input type="text" name="data[card_id]" id="card_id"  value="{/$card_id/}" placeholder="请输入身份证号" />
							</label>
						</div>
						<div>
							<label for="">
								<input type="text" name="data[shcool]" id="shcool"  value="{/$shcool/}" placeholder="请输入详细地址（学校）" />
							</label>
						</div>
					</div>
				</div>
				
				<div class="row application-btn">
					<a class="col-xs-12" id="form_submit" onclick="dr_submit()">提交</a>
				</div>
		</div>
		
	</body>
    <script src="/client/public/js/libs/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" type="text/javascript" charset="utf-8"></script>
	<script>
		
		function dr_submit() {
			var name = $('#uname').val().trim();
			var phone =  $('#phone').val().trim();
			var card_id = $('#card_id').val().trim();
			var shcool = $('#shcool').val().trim();
			
			if(name==null||name==''||phone==null||phone==''||card_id==null||card_id==''){
				alert("请填写完整");
			} else {
				$.ajax({
					type:"post",
					url:"/index.php?do=setting_submit&action=update",
					async:true,
					data:{name:name,phone:phone,card_id:card_id,shcool:shcool},
					dataType:"json",
					success:function(data) {
						if(data.status==1) {
							alert("操作成功");
							window.location.href = "/index.php?do=center";
						} else if(data.status==2) {
							alert(data.code);
						} else {
							alert("操作失败");
						}
					}
				});
			}
		}
	</script>
</html>
